<!-- dashboard page -->

<%-include("../partials/header") %>

<%-include("../partials/dropdown") %>

<%-include("../partials/flash") %>

<body>
  <div class="profile-container">
  	<div class="innerwrap">
  		<section class="section1 clearfix">
  			<div>
  				<div class="row grid clearfix">
  					<div class="col2 first">
              <% if (oneUser.length === 1) { %>

                  <% oneUser.forEach((oneUser, index) => { %>
                    <img src="/uploads/<%= oneUser.image %>" alt="">
                  <% }); %>

              <% } else { %>
                <img src="images/logo.png" alt="">
              <% } %>

              <% if( isProfileOwner ){ %>
                <a class="editbtn" href="/edit-userInfo/<%= user._id %>">Edit</a>
              <% } else { %>

              <% } %>

  						<h1><%= user.fname %> <%= user.lname %></h1>
  						<p><%= user.bios %> </p>
  					</div>
  					<div class="col2 last">
  						<div class="grid clearfix">
  							<div class="col3 first">
  								<h1><%= user.followers %></h1>
  								<span>Followers</span>
  							</div>
  							<div class="col3"><h1><%= user.likes %></h1>
  							<span>Likes</span></div>
  							<div class="col3 last"><h1><%= myPosts %></h1>
  							<span>Posts</span></div>
  						</div>
  					</div>
  				</div>

            <div class="row clearfix">
              <ul class="row2tab clearfix">

                <li id="share-button"><i class="fa fa-share"></i>Share Profile  </li>

                <% if( !isProfileOwner ){ %>

                  <% users.forEach(user1 => { %>
                    <a href="/follow/<%= user._id %>"><li><i class="fa fa-check">follow</i></li></a>
                    <a href="/like/<%= user._id %>"><li><i class="fa fa-heart"><%= user.likedBy.includes(deviceId) ? 'Unlike' : 'Like' %></i></li></a>
                   <% }) %>

                <% } else { %>

                  <% users.forEach(user => { %>
                    <a href="/promoted"><li><i class="fa fa-heart">Promoted items</i></li></a>
                    <a href="/create-item"><li><i class="fa fa-check">Create Item</i></li></a>
                   <% }) %>

                <% } %>

                <a href="https://api.whatsapp.com/send?phone=<%= user.whatsapp %>"><li><i class="fab fa-whatsapp">whatsapp chat</i></li></a>
              </ul>
            </div>

  			</div>
  			<span class="smalltri">

  			<i class="fa fa-star"></i>

  			</span>
  		</section>

  	</div>
  </div>

<script type="text/javascript">
document.getElementById('share-button').addEventListener('click', async () => {
    if (navigator.share) {
        try {
            await navigator.share({
                title: document.title,
                text: 'Check out this page!',
                url: encodeURI(window.location.href),
            });
            console.log('Page shared successfully');
        } catch (error) {
            console.error('Error sharing the page:', error);
        }
    } else {
        alert('Web Share API not supported in this browser.');
    }
});

</script>

<%-include("../item/main-index") %>

<%-include("../partials/footer") %>

<!-- dashboard page end-->
